
.navbar-left{
	background-color: rgbA(238,238,238,0.4);
	padding-left:1em;
	padding-right:1em;
	padding-top:1em;
	padding-bottom:1em;
}

div.wellA
{
	border-top: 0.1em solid black;
	border-bottom: 0.1em solid black;
	margin:0;
	margin-bottom:1em;
}
h4.form
{
	width:100%;
	display:block;
	float:left;
	clear:both;
	padding:0.5em;
	margin:0;
	margin-bottom:0.5em;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size:1.8em;

	/*border-top: 0.05em solid black;*/
	/*border-bottom: 0.05em solid black;*/
}
h5.formA
{
	width:100%;
	display:block;
	float:left;
	clear:both;
	padding:0.5em;
	margin:0;
	margin-bottom:0.5em;
	margin-top:0.5em;
	margin-left:1em;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size:1.2em;

	
	
}
div.col-A
{
	display:block;
	float:left;
	width:50%;
}
div.input-group
{
	width:100%;
	padding:0;
	padding-left:2em;
}
span.input-group-addonA
{
	width:30%;
	display:block;
	float:left;
	clear:none;
	padding:0.4em;
	margin:0;
}
span.input-group-addonA2
{
	width:90%;
	display:block;
	float:left;
	clear:none;
	padding:0.4em;
	margin:0;
}
input.form-controlA
{
	width:60%;
	display:block;
	float:left;
	clear:none;
	padding:0;
	margin:0;
	height: 100%;
}
select.form-controlB
{
	width:85%;
	display:block;
	float:left;
	clear:both;
	padding:0;
	margin:0;
	margin-left:1.8em;
	margin-bottom:1em;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size:1.2em;
}
select.form-controlB1
{
	width:100%;
	display:block;
	float:left;
	clear:both;
	padding:0;
	margin:0;
	margin-bottom:1em;
	margin-top:0.5em;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size:1.2em;
}
select.form-controlB2
{
	width:90%;
	display:block;
	float:left;
	clear:both;
	padding:0;
	margin:0;
	margin-bottom:1em;
	margin-top:0.5em;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size:1.2em;
}
span.form-controlC
{
	font-family: "Helvetica", "Arial", "sans-serif";
	display:block;
	float:left;
	clear:both;
}

div.footer 
{
	clear:both;
	display:block;
	float:left;
	width:100%;
  	margin:0;
}

.header
{
	float:left;
	display:box;
	width:100%;
	clear:both;
	margin:0;
	text-align:center;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

div.body_div
{
  margin-left: auto;
  margin-right: auto;
}

div.hero_image
{
	width:95%;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1em;
	margin-top:1em;
}
img.hero_image
{
	width:100%;
}

div.content
{
  display:block;
  clear:both;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}



div.summary_buttons
{
	width:95%;
	clear:both;
	margin-left:auto;
	margin-right:auto;
}

div.summary_end
{
	float:left;
	display:inline-block;  
	width:32%;
	padding:0em;
	margin-top:1em;
	margin-left:0;
	margin-right:0;	
}
div.summary_mid
{
	float:left;
	display:inline-block;  
	width:32%;
	padding:0em;
	/*padding-left:1em;
	padding-right:1em;*/
	margin-top:1em;
	margin-left:2.0%;
	margin-right:2.0%;	
	height:25em;
}

div.summary_button
{
	height:20em;
	margin:0;
	padding:0;
}

p.errormsg{
	color: red;
	text-align: left;
	font-weight: bold;
}

#summary_buy_garden_fresh_box
{
    background-image:url('/images/BuyBox.jpg');    
    background-size:cover;
}
#summary_about_garden_fresh_box
{
	background-image:url('/images/About.png');    
    background-size:cover;	
}
#summary_feedback_image
{
	background-image:url('/images/Feedback.png');    
    background-size:cover;	
}

div.summary_heading
{
	display:block;
	float:left;
	clear:both;
	width:100%;
	margin-top:0.5em;
	padding:0.5em;
	background-color: rgba(255,255,255,0.9);

}
div.summary_spacer
{
	height:12em;
}
h2.summary_button
{
	display:block;
	float:left;
	clear:both;
	padding:0;
	margin:0;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size:1.5em;
}

.summary_mid > a
{
	color:black;
}
.summary_mid > a:hover
{
	color:rgb(0,128,0);
}

.summary_end > a
{
	color:black;
}
.summary_end > a:hover
{
	color:rgb(0,128,0);
}

a:hover
{
	color:rgb(0,128,0);	
}
.table-hover tr:hover
{
	font-weight: bold;
}

div.summary_description
{
	display:block;
	float:left;
	clear:both;
	width:100%;
	margin:0em;
	padding:0.5em;
	background-color: rgba(255,255,255,0.8);
}
p.summary_button
{
	display:block;
	float:left;
	clear:both;
}


div.regular_nav {
	background-color: #eee;
  
	border-top: 0.1em solid black;
	border-bottom: 0.1em solid black;
	height:auto;
	display:block;
	float:left;
	width:100%;
	margin:0;
	padding:0;
	
}

div.inner_nav {
	margin-left: 19.0619%;
}

ul.regular_nav
{
	list-style-type: none;
	display: inline;
	margin:0;
	padding:0;
	text-align: center;
	width:75%;
}

li.regular_nav
{
	margin:0;
}

.regular_nav > li > a
{
	display:block;
	float:left;
	font-family: "Helvetica","Arial","sans-serif";
	font-size: 1.25em;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:0.5em;
	padding-top:0.5em;
	
	text-align: center;
	color:black;

	width:8em;
}

.regular_nav > a:hover
{
	background-color:rgb(220,220,220);
	background-image: none;
	color:rgb(0,128,0);
}
.regular_nav > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
		  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}

h1
{
	font-family: "Helvetica","Arial","sans-serif";
	font-size:1.7em;
}

p.content
{
	font-family: "Helvetica","Arial","sans-serif";
	font-size:1.1em;
	text-align: center;
}
.intro
{
	font-family: "Helvetica","Arial","sans-serif";
	font-size:1.9em;
}
span.intro
{
	padding-top:.1em;
    float: left;
    width: 0.7em;
    font-size: 310%;
    line-height: 80%;
}

.footer_login > a
{
	display:block;
	float:right;
	font-family: "Helvetica","Arial","sans-serif";
	font-size: 1.25em;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:0.5em;
	padding-top:0.5em;
	
	/*border-radius: 0 0 5px 5px;*/
	/*border-top: 0.1em solid black;
	border-bottom: 0.1em solid black;*/
	

	text-align: center;
	/*color:black;*/

	width:8em;
}

.footer_login > a:hover
{
	background-color:rgb(220,220,220);
	background-image: none;
	color:rgb(0,128,0);
}


div.login_page_form
{
	
	margin:0;
	padding:0;

	width:50%;
	margin-left:auto;
  	margin-right:auto;
}

.form_label
{
	margin:0;
	padding:0;
	margin-top:0.5em;
	margin-bottom:0.5em;
	width:10em;
	
}
.form_labem_box
{
	float:right;	
	margin:0;
	padding:0;
	margin-top:0.5em;
	margin-bottom:0.5em;
	width:40em;	
}


h1.login_page
{
	padding-top: 0.5em;
	text-align: center;	
}
p.login_page
{
	text-align: justify;
}
div.login_page
{
	width: 50%;   
	margin-left:auto;
  	margin-right:auto;
}


div.login_button_div
{
	margin-top:1em;
	width: 10em;    
	margin-left:auto;
  	margin-right:auto;
}

input.button_general 
{
	display:block;
	float:right;
	font-family: "Helvetica","Arial","sans-serif";
	font-size: 1.25em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0.2em;
	padding-top:0.2em;
	margin:0;
	margin-top:0.2em;
	margin-bottom:0.2em;


	
	/*border-radius: 0 0 5px 5px;*/
	/*border-top: 0.1em solid black;
	border-bottom: 0.1em solid black;*/
	border: 0.1em solid black;
	
	text-align: center;
	
	/*background-color:rgb(255,255,255);*/
	color:rgb(53,118,193);
	background-color: #eee;
	width:8em;
}
input.button_general_left
{
	display:block;
	float:left;
	font-family: "Helvetica","Arial","sans-serif";
	font-size: 1.25em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0.2em;
	padding-top:0.2em;
	margin:0;
	margin-top:0.2em;
	margin-bottom:0.5em;
	margin-left:1.5em;

	
	/*border-radius: 0 0 5px 5px;*/
	/*border-top: 0.1em solid black;
	border-bottom: 0.1em solid black;*/
	border: 0.1em solid black;
	
	text-align: center;
	
	/*background-color:rgb(255,255,255);*/
	color:rgb(53,118,193);
	background-color: #eee;
	width:8em;
}
input.button_general:hover
{
	background-color:rgb(220,220,220);
	background-image: none;
	text-decoration:underline;
	color:rgb(0,128,0);
}
input.button_general_left:hover
{
	background-color:rgb(220,220,220);
	background-image: none;
	text-decoration:underline;
	color:rgb(0,128,0);
}


div.footer_main
{
	background-color: #eee;
  
	border-top: 0.1em solid black;
	border-bottom: 0.1em solid black;
	height:auto;
	display:block;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
div.footer_contact
{
	display:block;
	float:left;
	margin:0;
	margin-top:2em;
	padding:1em;
	border:0;
	width:75%;
}
h2.contact_us_heading
{
	margin:0;
	padding:0;
}
div.footer_login
{
	display:block;
	float:left;
	margin:0;
	padding:1em;
	border:0;
	width:25%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	margin-left: 20%;
	margin-bottom: -22%;
	margin-top: 5px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: 60%;
}
div.footer_images
{
	display:block;
	width:100%;
	text-align: center;
	float:left;
	margin:0;
	margin-top:.5em;
	margin-bottom:.5em;
}
img.footer_images
{
	margin:0;
	margin-left: 2%;
	margin-right:2%;
	/*width:10%;*/
	min-width: 10%;
	max-width: 12%;
	
}
img.header_image{
	max-width: 80%;
	margin-top:.5em;
	margin-bottom:.5em;
	text-align:right;
}

h2.contact_us_heading
{
	display:block;	
	clear:both;
	padding:0;
	margin:0;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size:1.2em;
}

.header_nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
	padding-left:15px;
	padding-right:15px;
  margin-bottom: 0;

  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #f5f5f5), to(#e5e5e5));
  background-image:         linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.header_nav > .active > a,
.header_nav > .active > a:hover,
.header_nav > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
		  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.header_nav > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.header_nav > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}


/* @media (min-width: 1360px) { */
/* 	div.inner_nav{ */
/* 		margin:0; */
/* 	} */
/* } */

@media (min-width: 768px) {
  .nav-justified {
	max-height: 52px;
  }
  .nav-justified > li > a {
	border-right: 1px solid #d5d5d5;
	border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
	border-left: 0;
	border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
	border-right: 0;
	border-radius: 0 5px 5px 0;
  }
	
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
	padding-right: 0;
	padding-left: 0;
  }
}

.row{
	margin-left: inherit;
	margin-right: inherit;
}

span.formtip {
	color: red;
}

/* div.form-group {  */
/* 	margin-top: .1em; */
/* 	margin-bottom: .1em;	 */
/* } */
